/*<weight>: Use a value from 200 to 800
<uniquifier>: Use a unique and descriptive class name*/

body {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.square-list {
  list-style:square ;
}

.lien-externes {
  text-decoration: underline;
  color: #000000;
  border: 1px solid transparent;
}

/* Carousel: forcer les images à une même taille */
.carousel-item img {
  width: 100%;
  height: 600px;
  object-fit: contain;
}

/* Responsive carousel pour petits écrans */
@media (max-width: 768px) {
  .carousel-item img {
    height: 300px; /* Réduire la hauteur sur mobile */
  }
  
  #carouselExampleCaptions {
    margin-bottom: 1rem; /* Réduire l'espace en dessous */
  }
  
  .carousel-indicators {
    bottom: -30px; /* Ajuster la position des indicateurs */
  }
}

/* Images des épisodes dans les cards */
.card img {
  height: 100%;
  object-fit: cover;
}