/*<weight>: Use a value from 200 to 800
<uniquifier>: Use a unique and descriptive class name*/

body {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Video poster with play overlay */
.video-poster {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;
  max-width: 100%;
}
.video-poster img {
  display: block;
  width: 100%;
  height: auto;
}
.video-poster .play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 72px;
  background: rgba(0,0,0,0.6);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-poster .play-button svg {
  fill: #fff;
  width: 36px;
  height: 36px;
}
