/*<weight>: Use a value from 200 to 800
<uniquifier>: Use a unique and descriptive class name*/

body {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

li {
  list-style:square ;
}